.root {
  @apply inline-flex cursor-pointer items-center justify-center border border-solid border-ink bg-reverse px-10 py-4 text-center lowercase leading-6 text-ink shadow-sm transition-colors duration-150 ease-in-out;
}

.root:hover {
  @apply border border-reverse bg-ink text-reverse;
}

.root:focus {
  @apply outline-none ring-2 ring-ink ring-opacity-50;
}

.root[data-active] {
  @apply bg-ink;
}

.loading {
  @apply cursor-not-allowed border-ink bg-ink text-ink;
}

.slim {
  @apply transform-none py-2 normal-case;
}

.disabled,
.disabled:hover {
  @apply cursor-not-allowed border-ink bg-ink text-ink;
  filter: grayscale(1);
  -webkit-transform: translateZ(0);
  -webkit-perspective: 1000;
  -webkit-backface-visibility: hidden;
}
